.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: rgba(255, 248, 241, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(6px);
  z-index: 1000;
}

.logoImage {
  height: 50px;
  width: auto;
  transition: transform 0.4s ease;
}

.logoImage:hover {
  transform: rotate(-3deg) scale(1.05);
}

.nav {
  display: flex;
  gap: 25px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.link {
  text-decoration: none;
  color: #a55a42;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #d17b5f;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.link:hover {
  color: #d17b5f;
}

.burger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #a55a42;
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 65px;
    right: 20px;
    background: #fff8f1;
    flex-direction: column;
    padding: 20px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .open {
    display: flex;
  }

  .burger {
    display: block;
  }
}
